body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
#mainContent {
  width: 800px;
  margin: auto;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
    margin-bottom: 8px;
    font-size: 10pt;
}

div.actions {
    margin-top: 15px;
    margin-left: 33%;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

fieldset {
	border: 1px solid #6C006C;
	width: 20em
}

legend {
	color: #fff;
	background: purple;
	border: 1px solid #6C006C;
	padding: 2px 6px
}

.field {
    font-weight: bold;
}

.input {
    width: 150px;
    height: 50px;
    font-size: 11pt;
}

.input, h1, div.actions, div.field {
    font-family: cursive;
}