<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr class="user">
      <th><h2>Name</h2></th>
      <th><h2>Last Sign In</h2></th>
      <th><h2>Member Since<h2></th>
      <th><h2>Last Signed In From</h2></th>
    </tr>
  <thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.created_at.to_date %></td>
        <td><%= user.last_sign_in_ip %></td>
      </tr>
    <% end %>
  </tbody>
</table>
