<div class="small-container">
  <div class="field">
    <label>Name:
      <label class="recipieces-text"><%= @user.name %></label>
    </label>
  </div>

  <div class="field">
   <label>Email:
      <label class="recipieces-text"><%= mail_to @user.email %></label>
    </label>
  </div>

  <% if can? :edit, :users %>
    <%= link_to(edit_user_path(@user), class: "button-sm") do %>
      <i class="icon-edit"></i> Edit
    <% end %>
  <% end %>

  <%= link_to(users_path, class: "button-sm") do %>
    <i class="icon-list"></i> List
  <% end %>
</div>
