.recipe {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.recipe img {
  float:left;
  margin-right: 5px;
}

.recipe h1, h2, small  {
  color: #E0C2E0;
}

.text {
  color: #FFFFFF;
  display: inline;
}
