<p>Welcome <%= @resource.name %>!</p>

<p>Thank you for signing up to become a full fledged member with recipieces.com, we hope that you'll enjoy your stay. Please feel free to email
us with suggestions for features, enhancements, possible bugs or just to say this site is awesome. Food tastes so much
better with great recipes and we know you'll add some of the best around. Feel free to share your recipes with others by
making them public. Now let's get cooking!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
